extends layout.pug

block content
  .ui.grid
    .four.wide.column
      a.avatar.avatar-link(href=`/posts?author=${user._id}` data-title=`${user.name} | ${{m:'男',f:'女',x:'保密'}[user.gender]}` data-content=`${user.bio}`)
        img.avatar(src=`/images/${user.avatar}`)
    .eight.wide.column
      form.ui.form.segment(method="post")
        .field.required
          label 标题
          input(type="text" name="title")
        .field.required
          label 内容
          textarea(name="content" rows="15")
        input.ui.button(type="submit" value="发布")